.projectDetailsWrapper{
    margin-left: 17rem;
    margin-top: 0;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
    font-family: 'Cairo', sans-serif;
}

.projectHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumbnail {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Title */
.subject {
    font-size: 48px;
    width: 100%;
    padding-left: 1.5rem;
    margin-top: 2.4rem;
    font-family: "Recoleta Bold", sans-serif;
    color: black; /* Black color for better readability */
    background: linear-gradient(90deg, #B8860B, #000000); /* Dark golden (#B8860B) and black */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent */
    transition: font-size 0.3s ease, background 0.3s ease; /* Smooth transition for font size and background */
}

.subject:hover {
    font-size: 46px;
}
.data{
    color: #BD6E6D;
    margin-left: 1rem;
    font-size: 22px;
    margin-bottom: 2.5rem;
    padding-left: 0.6rem;
}

.image{
    width: 80%;
    height: auto;
    margin-top: 1.2rem;
}

.cardDescription {
    color: #7d7d7d;
    margin-top: 1rem;
    text-align: left;
    /*font-style: italic;*/
    width: 80%;
}

.subjectDetails {
    font-size: 48px;
    width: 100%;
    padding-left: 1.5rem;
    margin-top: 2.4rem;
    font-family: "Recoleta Bold", sans-serif;
    color: black; /* Black color for better readability */
    background: linear-gradient(90deg, #B8860B, #000000); /* Dark golden (#B8860B) and black */
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent */
    transition: font-size 0.3s ease, background 0.3s ease; /* Smooth transition for font size and background */
}