/* Global styles */
* {
    font-family: 'PT Serif', serif;
  }
  .menu{
    width: 100%;
  }
  .menuContent {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2; 
  }
  
  .menuContent {
    width: 100%;
    position: absolute;
    z-index: 1; 
  }
  
  .menuBtn {
    float: right;
    margin-top: 1.4rem;
    margin-right: 2rem;
    text-decoration: none;
  }
  
  .menuBtn:hover {
    cursor: pointer;
    opacity: 0.3;
  }
  
  .row {
    margin: 0 auto;
  }
  
  .controll {
    background-color: rgb(27, 27, 27);
  }
  
  .menuList {
    width: 100%;
    height: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .menuList:hover {
    cursor: pointer;
    opacity: 0.3;
  }
  
  .icons,
  .title {
    color: rgb(175, 175, 175);
    text-decoration: none;
    font-size: 18px;
    margin-top: 0px;
  }
  
  .title {
    margin-left: 1.2rem;
  }
  
  .mediaList {
    list-style-type: none;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    padding: 3rem; /* Fixed the margin issue here */
  }
  
  .mediaList:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .media {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
  