.header{
  display: flex;
  flex-direction: row;
}

.title {
  width: 100%;
   margin-top: 1rem;
  margin-left: 1rem;
  font-size: 21px; 
  font-family: 'Geovana', sans-serif;
}

/* Media queries */
/* 600 Down */
@media only screen and (max-width: 600px) {
  .customForm .customSearchbar input[type="text"] {
    padding: 20px 10px 20px 20px;
    border-radius: 20px;
    font-size: 14px;
    width: auto;
  }
}


/* 600 up */
@media only screen and (min-width: 600px) {
  .customForm .customSearchbar input[type="text"] {
    padding: 20px 120px 20px 20px;
    border-radius: 20px;
    font-size: 14px;
    width: auto;
  }
}

/* Large devices (992 up) and X Large devices (1200 up) - No styles added */
@media only screen and (min-width: 992px) {
}

/* X Large devices up to 1200 */
@media only screen and (min-width: 1200px) {
}
