.card{
    text-align: right;
    direction: rtl;
}

.cardLeft {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    height: auto;
    margin-left: 1rem;
}

.cardRight {
    padding-top: 5rem;
    width: 100%;
    padding: 20px;
    margin: 0rem;
    /* direction: ltr; */
}