card {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
}

.cardHeader .iconsLink {
    margin-right: 3rem;
}

.cardBody .title {
    padding-top: 2rem;
}

.cardBody .cameraInfo {
    padding-top: 2rem;
    font-weight: bold;
}

.cardBody #cameraInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardBody #contentIcons {
    margin-right: 0.7rem;
}

.icons #icon {
    margin-right: 3rem;
}

.iconsLink {
    color: black;
}

.iconsLink:hover {
    cursor: pointer;
    opacity: 0.3;
}

.cardBody #like {
    text-decoration: none;
    margin-bottom: 2rem;
}
