.projectCard{
    padding-top: 0.9rem;
}

/* Arabic RTL Styles */
.cardBody .title {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
}

.cardBody .description {
    font-size: 18px;
    direction: rtl;
    text-align: right;
}

.subject {
    width:70%;
}

.subject .subjectLink{
    font-size: 18px;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.cardBody .footer {
    direction: rtl;
    float: left; /* Footer on the left side for RTL */
    margin-top: 0;
}

/* Styles for Menu Button in Footer */
.footer .menuButton {
    direction: rtl;
    float: left; /* Button on the left side for RTL */
    margin-right: auto; /* Space on the right to align the button on the left */
}

/* General Footer Styles for RTL */
.footer {
    display: flex;
    justify-content: flex-start; /* Align items to the start for RTL layout */
    align-items: center;
}

/* Icon Hover Effect */
.icon:hover {
    cursor: pointer;
    opacity: 0.5;
}

#icon {
    padding-right: 3rem;
}

.footer .favorit {
    margin-left: 3rem;
}

/* Responsive Styles */

/* Devices with max-width of 600px */
@media only screen and (max-width: 600px) {
    .cardBody .title,
    .cardBody .description,
    .cardBody .subject {
        direction: rtl;
        text-align: right;
    }

    .cardBody .footer {
        float: left; /* Footer on the left side for RTL */
    }

    .footer .menuButton {
        float: left; /* Button on the left side for RTL */
    }
}

/* Devices with min-width of 600px */
@media only screen and (min-width: 600px) {
    .cardBody .title,
    .cardBody .description,
    .cardBody .subject {
        direction: rtl;
        text-align: right;
    }

    .cardBody .footer {
        float: left; /* Footer on the left side for RTL */
    }

    .footer .menuButton {
        float: left; /* Button on the left side for RTL */
    }
}

/* Devices with min-width of 992px (Laptops/Desktops) */
@media only screen and (min-width: 992px) {
    .cardBody .title {
        font-size: 21px;
    }

    .cardBody .description {
        font-size: 12px;
        width: 70%;
    }

    .cardBody .footer {
        width: 85%;
    }

    .footer .menuButton {
        float: left; /* Button on the left side for RTL */
    }
}

/* Devices with min-width of 1200px (Large Laptops/Desktops) */
@media only screen and (min-width: 1200px) {
    .cardBody .title {
        width: 70%;
        font-size: 36px;
        margin: 0 16px;
    }

    .subject .subjectLink{
        font-size: 22px;
        font-family: 'Noto Kufi Arabic', sans-serif;
    }
    .cardBody .description {
        font-size: 18px;
        width: 70%;
    }

    .cardBody .footer {
        width: 75%;
    }

    .footer .menuButton {
        float: left; /* Button on the left side for RTL */
    }
}
