.cardBody .projectCard .title{
    text-align: right;
    font-family: 'Cairo', sans-serif;
    font-size: 38px;
    direction: rtl;
    width: 70%;
    margin-bottom: 0;
}


.subject{
    font-size: 24px;
    text-align: right;
    width: 70%;
    padding: 0;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.cardBody .subjectLink{
    font-family: 'Cairo', sans-serif;
    margin-bottom: 2rem;
    text-align: right;
}

.cardBody .description{
    text-align: right;
    direction: rtl;
    font-size: 17px;

}