.projectContent {
    display: flex;
    flex-direction: row;
    border: none;
    padding-left: 17rem;
    width: 100%;
}

/* IMAGE */
#imgAfterHover {
    width: 500px;
    height: auto;
    -webkit-filter: drop-shadow(0 0 8px rgb(83, 83, 83));
    filter: drop-shadow(0 0 8px black);
    filter: drop-shadow(0 0 0 8px black);
    transform: scale(1);
    filter: grayscale(0%);
}

.img {
    width: 500px;
    height: auto;
    position: absolute;
}

.hoverImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imageContainer:hover .hoverImage {
    opacity: 1;
}

.imageContainer:hover .middle {
    opacity: 1;
}

/* CARD */
.cardBody {
    margin-top: 11rem;
    margin-left: 10rem;
    width: auto;
}

.cardText {
    font-family: 'PT Serif', serif;
    margin-top: 1rem;
    font-size: 14px;
    width: 100%;
    color: #7d7d7d;
}

.cardFooter {
    padding-top: 1rem;
}

.icon {
    padding: 0rem;
    color: black;
}

#favoriteIcon {
    margin-right: 2rem;
}

#moreHorizIcon {
    margin-left: 2rem;
}

.icon:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* 600 Down */
@media only screen and (max-width: 600px) {
    .projectContent {
        flex-direction: column;
        margin: 0 auto;
        padding: 2rem;
        margin-top: 0;
    }

    .cardBody {
        margin-top: 1rem;
        margin-left: 0;
    }

    .cardTitle {
        text-align: center;
        margin: 0 auto;
    }

    .cardText {
        max-width: 90%;
        font-size: 16px;
        margin-top: 0.1rem;
        text-align: center;
        margin: 0 auto;
    }

    .img {
        width: 100%;
        height: auto;
        position:relative
    }

    .cardFooter {
        padding-top: 0;
        text-align: center;
    }

    #favoriteIcon {
        margin-right: 3rem;
    }
    
    #moreHorizIcon {
        margin-left: 3rem;
    }
}

/* UP 600 */
@media only screen and (min-width: 600px) {
    .projectContent {
        flex-direction: column;
        margin: 0 auto;
        padding: 2rem;
        margin-top: 0;
    }

    .cardBody {
        margin-top: 1rem;
        margin-left: 0;
    }

    .cardTitle {
        text-align: center;
    }

    .cardText {
        max-width: 90%;
        font-size: 18px;
        margin-top: 0;
        text-align: center;
        margin: 0 auto;
    }

    .img {
        width: 100%;
        height: auto;
        position:relative
    }

    .cardFooter {
        padding-top: 0;
        text-align: center;
    }

    #favoriteIcon {
        margin-right: 5rem;
    }
    
    #moreHorizIcon {
        margin-left: 5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .projectContent {
        padding: 0;
        margin-top: 3rem;
        padding-left: 17rem;
    }

    .cardBody {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: 26em;
        width: 35%;
    }
    
    .cardTitle {
        text-align: left;
        margin-left: 1rem;
        font-size: 21px;
    }

    .cardText {
        margin-top: 0;
        font-size: 0.8rem;
        width: 70%;
        text-align: left;
        margin-left: 1rem;
    }

    .img {
        width: 400px;
        height: auto;
        position:relative
    }

    .cardFooter {
        padding-top: 0;
        text-align: left;
        padding-left: 0.3rem;
    }

    #favoriteIcon {
        margin-right: 2rem;
    }
    
    #moreHorizIcon {
        margin-left: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cardBody {
        position: absolute;
        margin-left: 33rem;
        width: 35%;
    }

    .cardTitle {
        margin-top: 0.5rem;
        text-align: left;
        font-size: 26px;
    }

    .cardText {
        margin-top: 0rem;
        font-size: 16px;
        width: 70%;
    }

    .img {
        width: 500px;
        height: auto;
        position: relative;
    }

    .cardFooter {
        margin-left: 0.2rem;
    }

    #favoriteIcon {
        margin-right: 3rem;
    }

    #moreHorizIcon {
        margin-left: 3rem;
    }
}
