.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    z-index: 1000;
    /* transition: opacity 0.3s, visibility 0.3s; */
    transform: rotate(180deg);

  }
  
  .scrollToTop.visible {
    opacity: 1;
    visibility: visible;
  }
  