.cardProjectContent{
    width: 100%;
    border: none;
    margin-bottom: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 850px;
}
.cardText{
    margin-top: 1rem;
    font-size: 14px;
    width: 90%;
}
.cardProjectBody {
    margin-top: 1rem;
    font-family: 'PT Serif', serif;
    margin-left: 2rem;
}
#img{
    width: 540px;
    height: auto;
    position: relative;
}
#image:hover {
    cursor: pointer;
    opacity: 0.5;
}
.cardFooter{
    padding-top: 1rem;
}

.icon{
    padding: 0rem;
    color: black;
}
#favoriteIcon{
    padding-right: 2rem;
}
#moreHorizIcon{
    padding-left: 2rem;
}
.icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
hr{
    max-width: 90%;
    margin-left: 0rem;
    margin-bottom: 2rem;
} 