.contactContainer {
    position: relative;
    top: 82px;
    left: 36%;
    width: 430px;
    height: 100vh;
    font-family: 'PT Serif', serif;
    
}

h1 {
    font-size: 36px;
    color: #111827;
}

p {
    padding-bottom: 1.5rem;
}

#flname {
    display: table;
    width: 100%;
}

label {
    margin-bottom: 0.1rem;
}

#link {
    text-decoration: none;
    color: black;
}

form {
    padding: 0;
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
input[type=number],
input[type=message],
input[type=textarea],
textarea,
input[type=data] {
    width: 100%;
    display: block;
    height: 34px;
    margin-bottom: 0.4rem;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

input:focus {
    border-color: red;
} 
input:focus:invalid {
    border-color: red;
} 

/* Input Hover */
input[type=text]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=message]:hover,
input[type=textarea]:hover,
input[type=data]:hover,
textarea:hover{
    border-color: red;
    /* transition: 0.4s; */
    /* box-shadow: 1px 1px 1px #0a0a0a; */
}

textarea {
    height: 100px;
    width: 100%;
    font-size: 14px;
}

/* Submit Button*/
.submit {
    background-color: #111827;
    border-radius: 5px;
    width: 100%;
    margin-top: 0.4rem;
    color: white;
    padding: 0.5rem;
    font-size: 16px;
}
.submit:hover {
    background-color: #000000;
}
#err{
    font-size: 14px;
    color: red;
    padding: 0;
    margin-bottom: 0.8rem;
}