.gallery {
    margin: 0 auto;
    min-height: 100vh;
    margin-left: 20rem;
    margin-top: 3rem;
  }
  
  .reactImagegallery {
    width: 85%;
    margin-top: 3rem;
  }
  
  .header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 32px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  