body {
  margin: 0;
  position: relative;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'heba', sans-serif;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}