.about{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.aboutContainer {
/*     display: flex;
    flex-direction: row;
    min-height: 100vh; */
    margin: 1rem auto;
    padding-left: 19rem;
}
.personal {
    height: 600px;
    width: auto;
}
.containerText {
    padding-left: 22rem;
    width: 380px;
    line-height: 1.3;
}
.title {
    color: rgb(31, 31, 31);
    font-family: 'PT Serif', serif;
    margin-top: 1rem;
}
.description {
    color: #9d9d9d;
    font-family: 'PT Serif', serif;
    font-size: 15px;
}
#click {
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color: #BD6E6D;
} 

/* Extra small devices (phones, 600px and down) DOWN 600 */
@media only screen and (max-width: 600px){
    .aboutContainer {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        margin-top: 0;
    }    
    .personal {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .containerText {
        text-align: center;
        width: 90%;
        padding-left: 0rem;
        margin: 0 auto;
    }
    .containerText .title {
        font-size: 22px;
        margin-top:1.4rem;
        color: #BD6E6D;
    }
    .containerText .description {
        font-size: 16px;
        margin-top:0.5rem;
    }
}

 /* Extra small devices (phones, 600px and down) UP 601 */
 @media only screen and (min-width: 600px){
    .aboutContainer {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        margin-top: 0;
    } 
    .personal {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .containerText {
        text-align: center;
        width: 90%;
        padding-left: 0rem;
        margin: 0 auto;
    }
    .containerText .title {
        font-size: 22px;
        padding-top: 1rem;
        color: #BD6E6D;
    }
    .description {
        font-size: 18px;
        padding-top: 1rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .aboutContainer {
        padding-left: 17rem;
        margin: 1rem auto;
    }
    .personal {
        height: 510px;
        width: auto;
        position: absolute;
    }
    .containerText {
        margin-left: 23.5rem;
        max-width: 300px;
        text-align: left;
    }
    .containerText .title {
        font-size: 22px;
        padding-top: 0rem;
        color: #BD6E6D;
    }
    .containerText .description {
        font-size: 14px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .aboutContainer {
        padding-left: 17rem;
        margin: 1rem auto;
    }
    .personal {
        height: 610px;
        width: auto;
        position: absolute;
    }

    .containerText {
        margin-left: 28rem;
        max-width: 370px;
        text-align: left;
        color: #7d7d7d;
    }
    .containerText .title {
        font-size: 24px;
        padding-top: 0rem;
        color: #BD6E6D;
    }
    .containerText .description {
        font-size: 17px;
    }
}
