.aboutContainer {
    margin-top: 1.8rem;
    padding-left: 18.5rem;
    display: flex;
    flex-direction: row;
}

#personal {
    height: 93vh;
    margin-bottom: 2rem;
}

.containerText {
    font-size: 18px;
    padding-left: 3rem;
    width: 380px;
    line-height: 1.3;
    color: #7d7d7d;
}

.containerText h3 {
    color: rgb(31, 31, 31);
    font-family: 'PT Serif', serif;
    margin-top: 1.6rem;
}

#click {
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color: #BD6E6D;
}