.aboutContainer {
    margin-left: 6.2rem;
    margin-top: 1.8rem;
    display: flex
}

#personal {
    height: 95%;
}

.containerText {
    font-size: 18px;
    padding-left: 3rem;
    width: 310px;
    line-height: 1.3;
    color: #7d7d7d;
}

.containerText h3 {
    color: rgb(31, 31, 31);
    font-family: 'PT Serif', serif;
    margin-top: 1.6rem;
}

#click {
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color: #BD6E6D;
}